@use "@styles/themes.scss";
@use "@styles/fonts.scss";

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background);
    color: var(--foreground);
    scroll-behavior: smooth;
}

[data-overlay] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100vw;
    height: 100vh;

    background-color: #000000;

    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 0.5;
        pointer-events: auto;

        transition: opacity 0.3s ease-in-out;
    }

    transition: opacity 0.3s ease-in-out;
}
