@use "@styles/themes.scss";
@use "@styles/fonts.scss";

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

[data-overlay] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100vw;
    height: 100vh;

    background-color: #000000;

    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 0.5;
        pointer-events: auto;

        transition: opacity 0.3s ease-in-out;
    }

    transition: opacity 0.3s ease-in-out;
}
