@use "@styles/themes.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

[data-overlay] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100vw;
    height: 100vh;

    background-color: #000000;

    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 0.5;
        pointer-events: auto;

        transition: opacity 0.3s ease-in-out;
    }

    transition: opacity 0.3s ease-in-out;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;

    background-color: var(--background);
    color: var(--foreground);
    scroll-behavior: smooth;
}

section,
article {
    display: flex;
    flex-direction: column;
}

aside {
    padding: 0.5rem 0;
    color: var(--text-muted);
    font-size: 0.9rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    color: var(--foreground);
}

p {
    margin: 0 0 1rem 0;
}

input,
textarea,
select {
    font-family: inherit;
    box-sizing: border-box;

    background: var(--background);
    color: var(--foreground);

    border: 1px solid var(--accent-3);
    border-radius: 4px;

    transition: border-color 0.2s ease;

    &[type="text"],
    &[type="email"],
    &[type="password"] {
        padding: 0.5rem;

        &:focus {
            border-color: var(--accent-1);
            outline: none;
        }
    }

    &[disabled] {
        background-color: color-mix(in srgb, var(--background), black 10%) !important; // FUCK YOU
        cursor: not-allowed;
    }

    &:hover {
        border-color: var(--accent-1);
    }
}
