---
import { SITE_TITLE } from "@consts";

import Metadata from "@components/metadata.astro";
import Topbar from "@components/topbar.astro";
import Footer from "@components/footer.astro";

interface Props {
    title: string;
    desc?: string;
}

const { title, desc } = Astro.props;

const rootAttributes = {
    'data-theme': 'light'
};

import "@styles/global.scss";
---

<!doctype html>
<html { ...rootAttributes } lang="en">
    <head>
        <Metadata 
            title={title}
            desc={desc || `"${title}" on ${SITE_TITLE}`}
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <Topbar />
        </header>
        <span data-overlay />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
