include:
  - ./docker/compose-dev.yaml
  - ./docker/compose-live.yaml

services:
  nginx:
    image: nginx:alpine
    hostname: infra.skillswap.internal
    ports:
      - "${HOST_PORT:-80}:80"
    volumes:
      - ./project/nginx/hosts:/etc/nginx/conf.d/hosts:ro
      - ./project/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    profiles: [dev, live]