services:
  frontend:
    build:
        context: ./frontend
        dockerfile: ./docker/Dockerfile.dev
    hostname: frontend.bpa.internal
    environment:
      - DOCKER_WSL2=1
      - ASTRO_TELEMETRY_DISABLED=1
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
      - frontend_astro_cache:/app/.astro
  backend:
    build:
      context: ./backend
      dockerfile: ./docker/Dockerfile.dev
    hostname: backend.bpa.internal
    environment:
      - DOCKER_WSL2=1
    ports:
      - "8080:80"
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
volumes:
  frontend_node_modules:
  frontend_astro_cache:
  backend_node_modules:
