---
import Layout from "@layouts/global.astro";
---

<Layout title="Home" desc="Welcome to the site">
	<header>
		<h1>Welcome to the Home Page</h1>
		<p>As a child, I yearned for the mines.</p>
	</header>
</Layout>

<style lang="scss">
	$color: #FF0000;

	header {
		text-align: center;
	}

	h1 {
		color: $color;
	}
</style>
