<!DOCTYPE html>
<!--The Basics-->
<html>
<!--Navigation panel-->
    <nav>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </nav>
<!--Title of the page-->       
    <head>
        <title>Example Name</title>
    </head>
<!--The Body-->
    <body>
        <h1><b>This will be the header<b></h1>
            <p> Just a example text of whatever we want </p><br>
            <p>Another line </p>
    </body>
<!--A place to add forms maybe-->
    <form>
        <input type="checkbox" id="c1">
            <label for="c1">Bob man</label><br>
        <input type="checkbox" id="c2">
            <label for="c2">Stephen allum</label><br>
        <input type="checkbox" id="c3">
            <label for="c3">sometings</label><br>
        <input type="checkbox" id="c4">
            <label for="c4">something</label><br>
    </form>
<!--The email information and PII information of the client to gather data from different regions.-->
    <form>
        <label for="t1">Email</label>
         <input type="text" id="t1"
            name="email"><br>
        <label for="t2">Country</label>
            <input type="text" id="t2"
            name="country"><br>
        <input type="submit">
    </form>
<!--Different other stuff for more stuff or stuff-->
</html>